$accent: var(--accent-yellow);
$font: var(--font-yellow);

#aboutView svg {
  fill: $accent;
  position: fixed;
  height: auto;
  z-index: -1;
  &#firstBlob {
    width: clamp(15rem, 30vw, 70vh);
    bottom: 50%;
    left: -10rem;
    transform: translateY(50%);
  }
  &#secondBlob {
    width: 15rem;
    bottom: -20vh;
    left: 10vw;
    opacity: 0.4;
    z-index: 10;
  }
  &#thirdBlob {
    width: 8rem;
    bottom: 20vh;
    left: 28vw;
    z-index: 10;
  }
  &#fourthBlob {
    width: clamp(20rem, 40vw, 60rem);
    bottom: clamp(-10rem, -15vw, -15vw);
    right: clamp(-15rem, -10vw, -5rem);
    opacity: 0.6;
  }
  &#fifthBlob {
    width: 30rem;
    bottom: 30vh;
    left: clamp(-5rem, -10vw, 15vw);
    opacity: 0.4;
    z-index: 10;
    transform: rotate(30deg);
  }
}

#aboutView .content {
  .header {
    padding: 0 clamp(1rem, 2vw, 8rem);
    margin-left: auto;
    width: 55vw;
  }
  h1 {
    color: $font;
    font-size: 3rem;
  }
  p {
    margin-top: 2rem;
  }
  img {
    position: fixed;
    top: 50%;
    left: 4vw;
    width: 35vw;
    height: auto;
    mask-repeat: no-repeat;
    mask-image: url('/maskAbout.svg');
    transform: translateY(-40%);
  }
}

// ---------------------------- media phones ----------------------------

@media screen and (max-width: 767px) {
  #aboutView svg {
    &#firstBlob {
      position: absolute;
      z-index: -1;
    }
    &#secondBlob {
      position: absolute;
      bottom: 5rem;
      left: 0;
      width: 30vw;
      opacity: 0.3;
      z-index: -1;
    }
    &#thirdBlob {
      position: absolute;
      top: 15vh;
      left: 60vw;
    }
    &#fourthBlob {
      z-index: -1;
    }
    &#fifthBlob {
      left: 10vw;
      top: 5rem;
      width: 30vw;
      z-index: -1;
    }
  }
  #aboutView .content {
    .header {
      padding: 0 clamp(1rem, 2vw, 8rem);
      width: 90vw;
      margin: 0;
    }
    img {
      position: relative;
      transform: unset;
      width: 70vw;
      height: auto;
      object-fit: contain;
      margin-bottom: 3rem;
    }
  }
}
