#notFoundView {
  width: 100%;
  min-height: 80vh;
  margin-top: 5rem;
  display: grid;
  place-content: center;
  div {
    align-items: center;
  }
  span {
    margin-left: 1rem;
    font-family: 'Varela Round', sans-serif;
  }
}

#notFoundView button {
  width: fit-content;
  padding: 1rem 2.5rem;
  margin: 1rem;
  border-radius: 5rem;
  border: 4px solid var(--accent-primary);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent-primary);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  &:hover {
    color: white;
    background: linear-gradient(340deg, rgb(0, 82, 158, 0.1), rgb(94, 110, 187, 0.2));
    background: linear-gradient(340deg, var(--accent-primary), rgb(94, 110, 187, 0.2));
    transform: scale(1.05);
  }
}
