$about: var(--accent-yellow);
$treatment: var(--accent-green);
$gallery: var(--accent-green);
$gratitude: var(--accent-yellow);
$foundation: var(--accent-blue);
$help: var(--accent-orange);

nav {
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 100;

  button {
    border: none;
    background: none;
  }

  button.siteLogo {
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 800;
    white-space: nowrap;
    span {
      font-size: 0.6rem;
      letter-spacing: 3px;
      font-weight: 500;
    }
    color: var(--accent-primary);
  }

  .navigation ul {
    gap: 2rem;
    align-items: center;
  }

  button.menuItem {
    padding: 1rem;
    font-size: 0.8rem;
    position: relative;
    text-transform: uppercase;
    transition: font-weight 0.3s ease-out;
    &:hover {
      color: var(--accent-secondary);
    }
    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: var(--accent-secondary);
      bottom: 5px;
      left: 0;
      transition: width 1s ease;
    }
    &:hover::before {
      width: 100%;
    }
    &.active {
      font-weight: 600;
      color: var(--accent-secondary);
    }
  }

  button.menuItem {
    &.about {
      &:hover {
        color: $about;
      }
      &::before {
        background-color: $about;
      }
      &.active {
        color: $about;
      }
    }
    &.treatment {
      &:hover {
        color: $treatment;
      }
      &::before {
        background-color: $treatment;
      }
      &.active {
        color: $treatment;
      }
    }
    &.gallery {
      &:hover {
        color: $gallery;
      }
      &::before {
        background-color: $gallery;
      }
      &.active {
        color: $gallery;
      }
    }
    &.gratitude {
      &:hover {
        // color: rgb(250, 136, 136);
        color: $gratitude;
      }
      &::before {
        background-color: $gratitude;
      }
      &.active {
        color: $gratitude;
      }
    }
    &.foundation {
      &:hover {
        color: $foundation;
      }
      &::before {
        background-color: $foundation;
      }
      &.active {
        color: $foundation;
      }
    }
    &.help {
      &:hover {
        color: $help;
      }
      &::before {
        background-color: $help;
      }
      &.active {
        color: $help;
      }
    }
  }

  a.foundationLogo {
    height: 5rem;
    width: auto;
    margin-left: 3rem;
    img {
      height: 100%;
      width: auto;
      border-radius: 50%;
    }
  }

  .toggleMobile {
    margin-left: 2rem;
    position: relative;
    height: 4rem;
    width: 4rem;
    #hamburger {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      stroke: rgb(36, 36, 36);
      transition: stroke 1s ease;
      z-index: 100;
    }
    &:hover #hamburger,
    &:focus #hamburger {
      cursor: pointer;
    }
  }
  &.active .toggleMobile #hamburger {
    background: white;
    border-radius: 50%;
    animation: fadeIn 1s ease;
    #top-line {
      animation: rotateDown 0.6s ease-out both;
    }
    #bottom-line {
      animation: rotateUp 0.6s ease-out both;
    }
    #middle-line {
      animation: fadeOut 0.6s ease-out forwards;
    }
  }
}

@keyframes rotateUp {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translate(0, 0);
  }
  30% {
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translate(0px, -10px);
  }
  100% {
    transform: rotate(-45deg) translate(-24.5px, 0.5px);
  }
}

@keyframes rotateDown {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translate(0, 0);
  }
  30% {
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translate(0px, 10px);
  }
  100% {
    transform: rotate(45deg) translate(10.5px, -15.5px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1400px) {
  nav button.siteLogo {
    font-size: 1.3rem;
    span {
      font-size: 0.4rem;
    }
  }
  nav button.menuItem {
    font-size: 0.6rem;
  }
  nav .navigation ul {
    gap: 1rem;
  }
  nav a.foundationLogo {
    height: 4rem;
  }
}

@media screen and (max-width: 1023px) {
  nav button.siteLogo {
    font-size: 1.3rem;
    span {
      font-size: 0.4rem;
    }
  }
  nav .navigation {
    place-content: center;
    // display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
  }

  nav.active .navigation {
    visibility: visible;
  }

  nav .navigation ul {
    flex-direction: column;
    margin: clamp(1rem, 5vh, 7rem) 0;
    gap: 0;
    justify-content: space-around;
  }

  nav button.menuItem {
    font-weight: 400;
    font-size: 1.6rem;
    transform: translateY(0);
    &.active {
      font-weight: 700;
    }
  }

  nav.active button.menuItem {
    animation: slideDown 1s ease;
  }

  nav.active .navigation ul li {
    @for $item from 1 through 6 {
      &:nth-child(#{$item}) {
        button.menuItem {
          animation-name: slideDown;
          // animation: slideDown 1s ease;
          // animation-duration: calc(0.5s + ( 0,1 * #{$item}));
          animation-duration: calc(0.4s + (0.1s * #{$item}));
        }
      }
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-20vh);
      opacity: 0;
    }
    50% {
      transform: translateY(-10vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav a.foundationLogo {
    height: 4rem;
    margin-left: auto;
  }
  nav.active .toggleMobile::before {
    background: var(--light);
    background: rgb(227, 227, 227);
    width: 500vh;
    height: 500vh;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 50%;
    animation: scaleIn 1s ease;
  }
}

@keyframes scaleIn {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 0.5rem;
  }
  nav button.siteLogo {
    font-size: 1rem;
    span {
      font-size: 0.4rem;
    }
  }
  nav button.menuItem {
    font-size: 1rem;
  }
  nav a.foundationLogo {
    height: 3rem;
  }
  nav .toggleMobile {
    margin-left: 0.5rem;
  }
}
